nav {
    width: 350px;
    background: #AD3A3A;
    height: 100vh;
    padding: 10px;
    color: #fff;
    position: fixed;
}
nav .section-nav {
    height: 122px;
    border-bottom: solid 1px #F1A041;
    font-family: 'DalekPinpoint Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav h1 {
    font-size: 54px;
    color: #EF9F26;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

nav a, nav a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

nav p {
    font-size: 20px;
}