.global-recrutement {
    min-height: 100vh;
    height: auto;
    width: calc(100% - 350px);
    background-image: url("../Medias/bg-laniste.png");
    background-position: top right;
    font-family: 'DalekPinpoint Bold';
    color: white;
    position: absolute;
    right: 0;
    padding: 20px;
}

.global-recrutement h1 {
    color: #F1A041;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #6B4A37;
}

.description-recrutement {
    margin-top: 50px;
}
.description-recrutement p {
    font-size: 30px;
    color: black;
}

.global-recrutement form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.global-recrutement .btn, .global-recrutement .btn:hover {
    font-size: 22px;
    background: #E8591C;
    color: #fff;
}